/* alapbeállítások */

:root {
    --default-font-size: 16px;
    --header-bg-color: rgb(51, 57, 64);
    --header-color: rgb(236, 236, 236);
    --border-color: rgb(0, 123, 255);
}

html {
    font-size: var(--default-font-size);
    color: rgb(236, 236, 236);
}

body {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

/* feladat leírás szerinti beállítások */

.header--dark {
    /* display: flex; FLEX */
    /* align-items: center; FLEX */
    background-color: var(--header-bg-color);
    color: var(--header-color);
    overflow: hidden;
}

.header__title {
    display: inline;
    float: left;
    /* flex: 1 0 auto; FLEX*/
    font-size: 1.25rem;
    margin: 1rem;
    height: 2rem;
}

.header__search {
    /* display: flex; FLEX */
    float: right;
    display: inline;
    vertical-align: middle;
    position: static;
    margin-right: 1rem;
}

.search__input {
    outline: none;
    border: 0px solid rgb(51, 57, 64);
    /* Legyen a bal felős és a jobb alsó sarka 4 pixelre lekerekítve. */
    /* border-radius: 4px 0px 4px 0px; */
    border-radius: 4px 0px 0px 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    transition: border .15s;
}

.search__input:focus {
    border: 1px solid;
    border-color: var(--border-color);
}

.search__btn {
    border: 0px;
    width: 2.5rem;
    color: rgb(236, 236, 236);
    font-size: 1.1rem;
    background-color: rgb(0, 123, 255);
    border-radius: 0px 4px 4px 0px;
}

/* Main elemek formázása */

main {
    /* display: flex; FLEX */
}

aside {
    /* display: flex; FLEX */
    /* flex: 0 1 auto; FLEX */
    display: block;
    height: 100vw;
}

.content {
    /* display: flex;
    flex-direction: column;
    flex: 1 0 auto; */
    display: inline;
    color: rgb(20, 20, 20);
    margin: 1rem;
}

.main__nav {
    background-color: rgb(33, 37, 41);
    min-width: 230px;
}

.nav__ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
}

li {
    padding: .6rem 0;
    color: rgb(100, 100, 100);
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

a:visited {
    color: rgb(236, 236, 236);
    ;
}

p {
    margin: 0;
}

/* 
.fa{
    text-align: center;
    min-width: 20px;
} */

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    ;
}

.main__cards {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main__card {
    border-radius: .25rem;
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    /* margin: 1rem 0; */
    /* padding: .5rem; */
    /* min-width: 200px; */
}

.main__card--blue {
    background-color: rgb(0, 123, 255);
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    margin: 0 1rem;
}

.main__card--green {
    background-color: rgb(40, 167, 69);
    margin-right: 1rem;
}

.main__card--red {
    background-color: rgb(220, 53, 69);
}

.card__top {
    border-radius: .25rem .25rem 0 0;
    font-size: .9rem;
    color: rgb(236, 236, 236);
    padding: .8rem 1.5rem;
    transition: background-color .3s;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.card__bottom {
    color: rgb(236, 236, 236);
    border-radius: 0 0 .25rem .25rem;
    font-size: .7rem;
    padding: .3rem 1.5rem;
    transition: background-color .3s;
}

.card__top:hover {
    background-color: rgba(0, 0, 0, .05);
}

.card__bottom:hover {
    background-color: rgba(0, 0, 0, .05);
}