/* alapbeállítások */
css html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* feladat leírás szerinti beállítások */

.header--dark {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 57, 64);
    fill: rgb(236, 236, 236);
}

.header__title {
    flex-grow: 1;
    font-size: 1.25rem;
}


.header__search {
    flex-grow: 1;
    align-items: center;
}

.search__input {
    outline: none;
    /* Legyen a bal felős és a jobb alsó sarka 4 pixelre lekerekítve. */
    border-radius: 4px 0px 4px 0px;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    transition: border .15s;
}

.search__input:focus {
    border-color: rgb(128, 189, 255);
}

.search__btn {
    background-color: rgb(0,123,255);
}